$width-limiter: 980px;

$font-family-regular: 'Telefonica-Regular', sans-serif;
$font-family-light: 'Telefonica-Light', sans-serif;
$font-family-bold: 'Telefonica-Bold', sans-serif;

$link-color: #057;
$link-color-hover: #05f;

$text-color: #555;
$border-color: #00fb67;
$title-color: #ca9b41;
$blanco: #fff;
$blue: #005a8e;
$button-menu: #5bc500;
$blue-menu: #006d9e;
$icon-plus: #d9edf5;
$blue-light: #27a4d5;
$color-blue: #00a9e0;
$color-yellow: #fff;
$gris: #86888c;
$movistar-sky: #00a9e0;
$green: #57c723;
$orange: #f59c26;
$purple: #954b97;
$purple-light: #b581b6;
$white: #fff;
$blue-light: #1caade;
$negrito: #50535a;
$light-gray: #e9eae8;
$cyan: #00ace9;
$dark-green: #66b32d;
$light-blue: #00a9e0;
$light-light-blue: #66cbec;
$light-light-light-blue: #00acea;
